@import "tailwindcss";
@import "@fontsource/poppins";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --gradient-hue: rgba(134, 31, 182, 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: "Poppins";
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
  background-image: radial-gradient(
    circle at center,
    var(--gradient-hue) 0%,
    transparent 70%
  );
}
